.button {
  padding: 0 16px;
  font-weight: bold;
  color: rgb(146, 201, 196);
  line-height: 36px;
  height: 36px;
  font-size: 1em;
  text-transform: uppercase;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  appearance: none;
  text-align: center;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}